%h1="Benutzerhandbach"
%ol.benutzerhandbuch
  %li
    %h2
      Allgemeines
    %p
      Diese Webseite wurde im Rahmen eines Projektes von Studenten der Fachhochschule Münster programmiert und ermöglicht es Umfragen zu erstellen und diese zur Abstimmung freizugeben.
    %p
      Das Layout für die Abstimmung ist dabei speziell für Smartphones mit den Betriebssystemen Android, iOS und Windows Phone ausgelegt.
  %li
    %h2
      Wie erstelle ich eine Umfrage?
    %ol
      %li
        %h3
          Registrieren
        %p
          Vor Anlegen einer Umfrage ist es notwendig sich auf der Seite zu registrieren. Hierzu klicken Sie einfach in der Navigationsleiste auf Registrieren. Die Registrierung benötigt eine gültige Emailadresse.
      %li
        %h3
          Umfrage anlegen
        %p
          Nach Login gelangen Sie direkt auf die Übersicht angelegter Umfragen. Zum Anlegen einer neuen Umfrage klicken auf die Schaltfläche Neue Umfrage. Beim Anlegen müssen folgende Informationen angegeben werden:
        %ul
          %li
            Umfragetyp (Single- oder Multiple Choice) 
          %li
            Kategorie der Umfrage
          %li
            Überschrift und Frage
          %li
            Abstimmungszeitraum (Start- und Enddatum)
          %li
            Typ der Auswertungsgrafik (Standard: Kuchendiagramm)
      %li
        %h3
          Umfrage mitteilen
        %p
          Nachdem die Umfrage gespeichert ist, erhalten Sie einen Internetlink, welcher auf die erstellte Umfrage verweist. Dieser muss dann den teilnehmenden Personen mitgeteilt werden.
      %li
        %h3
          Umfrage bearbeiten
        %p
          Zur Bearbeitung einer Umfrage klicken Sie in der Umfragenübersicht auf die Schaltfläche bearbeiten. Bevor eine Umfrage gestartet ist, können alle Angaben editiert werden. Nach Erreichung des Startdatums kann lediglich die Auswertungsgrafik verändert werden .
      %li
        %h3
          Ergebnisse auswerten
        %p
          Über die Schaltfläche ansehen in der Umfragenübersicht können die Abstimmungsergebnisse eingesehen werden.
      %li
        %h3
          Accountverwaltung
        %p
          Der Menüpunkt Mein Account in der Navigationsleiste beinhaltet Informationen und Änderungsmöglichkeiten zu dem bei der Registrierung erstellten Account. Darüber hinaus kann ein Account hier auch endgültig gelöscht werden.

  %li
    %h2 
      Wie stimme ich ab?
    %ol
      %li
        %h3
          Link zur Umfrage aufrufen
        %p
          Wenn Sie einen Link zu einer Umfrage erhalten haben rufen Sie diesen einfach über den Browser Ihres Smartphones auf.
      %li
        %h3
          Abstimmen
        %p
          Das Abstimmen erfolgt durch Auswahl der gewünschten Antwortmöglichkeiten. Es kommen zwei Abstimmungsarten vor:
        %ul
          %li
            %h2
              Single Choice
            %p
              Es ist nur die Auswahl einer Antwort möglich.
          %li
            %h2
              Multiple Choice
            %p
              Mehrere Antworten können ausgewählt werden.

        %p
          Zusätzlich zur Abstimmung kann ein Kommentar abgegeben werden. Dieser fließt nicht mit in die Auswertung ein und ist nicht öffentlich.
      %li
        %h3
          Auswertung ansehen
        %p
          Nach Abstimmung werden Sie automatisch auf die Auswertungsseite weitergeleitet.

