= form_for @answer, :url => { :action => "process_open_vote", :poll => @poll } do |f| 

  .field
    %p
      = f.label "Text:"
    %p
      = f.text_area :value			

  = render 'comments'
  .actions
    =f.submit "Abstimmen" 